# Docco
-p/

# JetBrains
.idea/
*.iws
*.ipr
*.iml

# Eclipse
.project

# Windows
Thumbs.db

# Common Logs
*.log
log/
logs/

# Common Temp File
tmp/
temp/
~*

# Common Backup
*.bak
*.orig
*.REMOTE
*.LOCAL
*.BASE
*.swp

# Build Folder
build/

# npm
node_modules/
